*{
      padding: 0;
      margin: 0;
      font-family: '8bitHUD';
      font-size: 1.1em;


}
@font-face {
    font-family: '8bitHUD';  /* Nombre para usar en CSS */
    src: url('./fuente/8-bit-hud.ttf') format('truetype'); /* Ruta al archivo de la fuente */
}
body{
      color: white;
      background: url('./imagenes/fondoGrande.png');
      background-size: cover;
      background-position: center;
      min-height: 100vh;  

}
header {
      font-size: 5em;
      position: absolute;
      letter-spacing: 0.5em;
      top: 0;
      width: 100%;
      text-align: center;
      font-family: 'VT323', monospace;
      margin: 20px;
      padding-bottom: 20px;

}
#popup{

      position:fixed;/*Sobreponer elemento o fijar*/
      background-color: rgb(0, 0, 0,0.7);/*Tono tranparente oscuro*/
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
  
  }
  #popup>div{
      font-size: 2em;
      background: blue;
      text-align: center;
      width: 50%;
      padding: 60px;
      border-radius: 6vh;
  }
  #popup>div>p{
      height: 20%;
      width: 100%;
      padding: 0px;
  
  }
  #popup>div>form>p>input {
      font-size: 0.6em;
      text-align: center;
      border-radius: 6vh 1vh 1vh 6vh;
      width: 49%;

  }
  #popup>div>form>p>button { 
      text-align: center;
      height: 0.6em;
      width: 8%;
      background: rgb(88, 176, 228);
      border-radius: 1vh 6vh 6vh 1vh;
  }
  #popup>div>form>p>button>img{
      height: 0.6em;
  }
.contenedorPrincipal{

      width: 100%;
      height: 100vh;/*vh	1% de la altura de la ventana gráfica.*/

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
}
.barra-superior {
      display: flex;
      justify-content: space-between;
      width: 40%;

      box-sizing: border-box;
  }
var{
      display: flex;
      flex-direction: row;

}
.moneda{
      display: flex;
      
}
.moneda>img{
      width: 80px;
      height: 100px;
}
.letraEntrada{

      text-align: center;
}

.contTiempo, .cadaLetra, .palabraAdivinar ,.contInput ,.barra-superior{
      z-index: 2;
}
.segundoFondo{
      padding-top: 170px;
      position: absolute;
      height: 85vh;
      z-index: 1;
}
.boton-fijo {
      position: fixed;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      padding: 10px 20px;
      background-color: #007BFF;
      color: white;
      border: none;
      cursor: pointer;
      font-size: 16px;
    }
.boton-fijo-izquiera{
      position: fixed;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      padding: 10px 20px;
      background-color: #007BFF;
      color: white;
      border: none;
      cursor: pointer;
      font-size: 16px;
    }
.cadaLetra>p{
      padding: 10px;
      border: #d4ff00;
      background-color: #d4ff00;
}